<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
         #title{
            color:white;
        }
        #content{
            color:white;
        }
        #main{
            color:white;
        }
        
        #simulation{
            padding-left: 400px;
        }
        #tech{
            padding-left: 100px;
        }
        #button{
            padding-left: 400px;
        }
        #simtitle{
            padding-left: 200px;
        } 
       .jumbotron{
    background-image: url('https://cdn.pixabay.com/photo/2017/07/13/10/22/technology-2500010_960_720.jpg');
    background-size: 100%;
    }
    </style>
   
</head>

<body>
    <!--헤더-->

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a href="/" class="navbar-brand">닭칼매니아</a>
        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/find" class="nav-link">Service</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 id="title" class="text-center">딥러닝과 강화학습을 이용한 최적의 순찰경로 추천 시스템</h1>
        <p id="content"class="text-center">정보통신공학과 팀 "닭칼매니아" 캡스톤디자인</p>
        <p class="text-center">
            <a id="main" class="btn btn-primary btn-lg" href="/" role="button">메인화면</a>
        </p>
    </div>
    <!------------------------------------------------------------------------------------------>

    <div class="row">
        <!-- left content -->
        <div class="col-sm-2">

        </div>
        
        <div class="col-sm-8">
             <div id="button">
                <a class="btn btn-primary btn-lg" href="#intro" role="button">프로젝트 소개</a>
                 <a class="btn btn-primary btn-lg" href="#tech" role="button">구현기술</a>
                 <a class="btn btn-primary btn-lg" href="#simtitle" role="button">학습 Simulation</a>
             
            </div>
              <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            
            <div class="intro">
                <img src="police.PNG" alt="">
                
            </div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            
            <div id="tech">
                <img src="exp.PNG" alt="">
            </div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div id="simtitle">
                <img src="simtitle.PNG" alt="">
            </div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div>&nbsp</div>
            <div id="simulation">
                
                <img src="simulation.gif" alt="">
                
            </div>
            <div class="col-sm-2">

        </div>

       </div>
        

        <!-- right content -->
        <div class="col-sm-1">

            
            

        </div>
        
    </div>
    

    
    <script>
        
        
    </script>
</body>

</html>