<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <style>
        #title{
            color:white;
        }
        #content{
            color:white;
        }
        #main{
            color:white;
        }
        .jumbotron{
    background-image: url('https://cdn.pixabay.com/photo/2017/07/13/10/22/technology-2500010_960_720.jpg');
    background-size: 100%;
    }
        .level1 {
            width: 50px;
            height: 720px;
            border: 3px solid;
            background: linear-gradient(to bottom, red, #FFDF8C);
        }
    </style>
</head>

<body>
    <!--헤더-->

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <a href="/" class="navbar-brand">닭칼매니아</a>
        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="/find" class="nav-link">Service</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 id="title" class="text-center">딥러닝과 강화학습을 이용한 최적의 순찰경로 추천 시스템</h1>
        <p id="content"class="text-center">정보통신공학과 팀 "닭칼매니아" 캡스톤디자인</p>
        <p class="text-center">
            <a id="main" class="btn btn-primary btn-lg" href="/" role="button">메인화면</a>
        </p>
    </div>
    <!------------------------------------------------------------------------------------------>

    <div class="row">
        <!-- left content -->
        <div class="col-sm-2">

        </div>
        <div class="col-sm-2">
            <div>
                <h3>시간대 별 추천 경로</h3>
                <p>원하는 시간대의 추천하는 최적의 순찰경로를 확인해보세요.</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        <a class="btn btn-primary btn-lg" href="/loc1" role="button">AM 00:00 ~ AM 04:00 </a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="btn btn-primary btn-lg" href="/loc2" role="button">AM 04:00 ~ AM 08:00</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="btn btn-primary btn-lg" href="/loc3" role="button">AM 08:00 ~ PM 12:00</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="btn btn-primary btn-lg" href="/loc4" role="button">PM 12:00 ~ PM 16:00</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="btn btn-primary btn-lg" href="/loc5" role="button">PM 16:00 ~ PM 20:00</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a class="btn btn-primary btn-lg" href="/loc6" role="button">PM 20:00 ~ PM 24:00</a>
                    </li>
                    
                </ul>

            </div>
        </div>

        <!-- right content -->
        <div class="col-sm-6">
            <div>
                &nbsp;
            </div>
            <div>
                <button id="path" type="button" class="btn btn-outline-primary">경로확인</button>
                 <button id="pathDelete" type="button" class="btn btn-outline-primary">경로삭제</button>


            </div>

            <div id="map" style="width:100%;height:700px;">

            </div>

        </div>
        <div class="col-sm-2">
            <div>&nbsp;</div>

            <div>
                <h5 style="bold">
                    High
                </h5>
            </div>
            <div class="level1">

            </div>
            <h5>
                Low
            </h5>

        </div>
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9ea75ffd5bd79ed65bb53b168189028c"></script>
    <script>
        var pathflag = true;
        var linePath = [];
        var polyline;
        var startflag;
        $('#path').click(function() {
            $.ajax({
                url: '/path',
                dataType: 'json',
                type: 'POST',
                data: {
                    data: 'loc1'
                },
                success: function(result) {
                    if(pathflag == true){
                        var path = <%-JSON.stringify(result)%>
                    for (var i = 0; i < path.length; i++) {
                        linePath[i] = new kakao.maps.LatLng(path[i].lat, path[i].lon)
                    }
                    // 지도에 표시할 선을 생성합니다
                    polyline = new kakao.maps.Polyline({
                        path: linePath, // 선을 구성하는 좌표배열 입니다
                        strokeWeight: 10, // 선의 두께 입니다
                        strokeColor: '#0054FF', // 선의 색깔입니다
                        strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
                        strokeStyle: 'solid' // 선의 스타일입니다
                    });
                    // 지도에 선을 표시합니다 
                    polyline.setMap(map);
                    var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                        startPosition = new kakao.maps.LatLng(path[0].lat, path[0].lon); // 마커가 표시될 위치입니다
                    // 마커를 생성합니다
                    startflag = new kakao.maps.Marker({
                        position: startPosition,
                        image: markerImage // 마커이미지 설정 
                    });
                    // 마커가 지도 위에 표시되도록 설정합니다
                    startflag.setMap(map);
                    pathflag = false;    
                    }
                }
            })
        })
        $('#pathDelete').click(function(){
            polyline.setMap(null);
            pathflag = true;
            startflag.setMap(null);

        })
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.5615876, 126.9905012),
            level: 6
        };
        var map = new kakao.maps.Map(container, options),
            customOverlay = new kakao.maps.CustomOverlay({}),
            infowindow = new kakao.maps.InfoWindow({
                removable: true
            });
        var drawingFlag = false; // 선이 그려지고 있는 상태를 가지고 있을 변수입니다
        var moveLine; // 선이 그려지고 있을때 마우스 움직임에 따라 그려질 선 객체 입니다
        var clickLine // 마우스로 클릭한 좌표로 그려질 선 객체입니다
        var distanceOverlay; // 선의 거리정보를 표시할 커스텀오버레이 입니다
        var dots = {}; // 선이 그려지고 있을때 클릭할 때마다 클릭 지점과 거리를 표시하는 커스텀 오버레이 배열입니다.
        // 지도에 클릭 이벤트를 등록합니다
        // 지도를 클릭하면 선 그리기가 시작됩니다 그려진 선이 있으면 지우고 다시 그립니다
        var result = <%-JSON.stringify(result)%>
        var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/red_b.png', // 마커이미지의 주소입니다    
            imageSize = new kakao.maps.Size(74, 79), // 마커이미지의 크기입니다
            imageOption = {
                offset: new kakao.maps.Point(27, 69)
            }; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.
        // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
        // 지도에 사각형을 표시합니다
        console.log(result[15].lat)
        // var circles = [{
        //         name: '해당 지역은 성범죄발생 고위험지역입니다.',
        //         path: new kakao.maps.LatLng(result[15].lat, result[15].lon),
        //         number: '년 평균 약 500건 정도의 범죄가 발'
        //     },
        //     {
        //         name: '교통사고 고위험',
        //         path: new kakao.maps.LatLng(result[35].lat, result[35].lon),
        //         number: '약 800건'
        //     }
        // ]
        // for (var i = 0, len = circles.length; i < len; i++) {
        //     displayArea(circles[i]);
        // }
        // function displayArea(area) {
        //     var circle = new kakao.maps.Circle({
        //         center: area.path, // 원의 중심좌표 입니다 
        //         radius: 80, // 미터 단위의 원의 반지름입니다 
        //         strokeWeight: 5, // 선의 두께입니다 
        //         strokeColor: '#C90000', // 선의 색깔입니다
        //         strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        //         strokeStyle: 'solid', // 선의 스타일 입니다
        //         fillColor: '#C90000', // 채우기 색깔입니다
        //         fillOpacity: 0.3 // 채우기 불투명도 입니다   
        //     });
        //     circle.setMap(map)
        //     // 다각형에 click 이벤트를 등록하고 이벤트가 발생하면 다각형의 이름과 면적을 인포윈도우에 표시합니다 
        //     kakao.maps.event.addListener(circle, 'click', function(mouseEvent) {
        //         console.log('클릭')
        //         var content = '<div class="info">' +
        //             '   <div class="title">' + area.name + '</div>' +
        //             '   <div class="size">범죄발생건수 :' + area.number + ' m<sup>2</sup></area>' +
        //             '</div>';
        //         infowindow.setContent(content);
        //         infowindow.setPosition(mouseEvent.latLng);
        //         infowindow.setMap(map);
        //     });
        // }
        var haehyunPath = [
            new kakao.maps.LatLng(37.5542383883403, 126.98536412773345),
            new kakao.maps.LatLng(37.553744426992886, 126.98542709369815),
            new kakao.maps.LatLng(37.55330443919126, 126.98487525605842),
            new kakao.maps.LatLng(37.55309310303041, 126.98446914066939),
            new kakao.maps.LatLng(37.553067703203126, 126.98414724485824),
            new kakao.maps.LatLng(37.55303585175674, 126.98374355150712),
            new kakao.maps.LatLng(37.55340364998983, 126.9830674398687),
            new kakao.maps.LatLng(37.55359516605728, 126.9825657931835),
            new kakao.maps.LatLng(37.55392390264949, 126.98148019856227),
            new kakao.maps.LatLng(37.55392559223424, 126.98083910613144),
            new kakao.maps.LatLng(37.553415266091974, 126.97982937775562),
            new kakao.maps.LatLng(37.55427319275102, 126.97841458160923),
            new kakao.maps.LatLng(37.55498193760583, 126.97715435141639),
            new kakao.maps.LatLng(37.555016406261984, 126.97705080029189),
            new kakao.maps.LatLng(37.55504659887737, 126.97695661934674),
            new kakao.maps.LatLng(37.55505641403961, 126.97692598220111),
            new kakao.maps.LatLng(37.55502626831344, 126.97673372437902),
            new kakao.maps.LatLng(37.55496270544252, 126.97662802818523),
            new kakao.maps.LatLng(37.55486322576352, 126.97657849539856),
            new kakao.maps.LatLng(37.554614029850704, 126.97656322762094),
            new kakao.maps.LatLng(37.554468891442106, 126.97655435903368),
            new kakao.maps.LatLng(37.553242861939424, 126.97649505680934),
            new kakao.maps.LatLng(37.55313461051957, 126.97649010238855),
            new kakao.maps.LatLng(37.55270834462548, 126.97665865287809),
            new kakao.maps.LatLng(37.5543911047289, 126.97236231894502),
            new kakao.maps.LatLng(37.553896930097174, 126.96907271591886),
            new kakao.maps.LatLng(37.555383763681306, 126.96848897086406),
            new kakao.maps.LatLng(37.55802050617245, 126.96930300710652),
            new kakao.maps.LatLng(37.559314003890286, 126.97057199866777),
            new kakao.maps.LatLng(37.559602732847, 126.97139923762587),
            new kakao.maps.LatLng(37.55963220503933, 126.9719362103378),
            new kakao.maps.LatLng(37.55963626305379, 126.97200617661218),
            new kakao.maps.LatLng(37.55971525405376, 126.9728718496518),
            new kakao.maps.LatLng(37.55982652702355, 126.97407477304803),
            new kakao.maps.LatLng(37.561425917917, 126.98030881374004),
            new kakao.maps.LatLng(37.561516839162884, 126.98050124037191),
            new kakao.maps.LatLng(37.56180104199569, 126.98108737734889),
            new kakao.maps.LatLng(37.5612630369372, 126.98126138975584),
            new kakao.maps.LatLng(37.560092256039724, 126.98222699652324),
            new kakao.maps.LatLng(37.559984613479344, 126.98227674037922),
            new kakao.maps.LatLng(37.559813551644105, 126.98235578821416),
            new kakao.maps.LatLng(37.55944816927764, 126.98251981691409),
            new kakao.maps.LatLng(37.55920313059683, 126.98262923210093),
            new kakao.maps.LatLng(37.55896119397855, 126.98273673542943),
            new kakao.maps.LatLng(37.558668785472044, 126.98285764029531),
            new kakao.maps.LatLng(37.55815594358479, 126.98306922929139),
            new kakao.maps.LatLng(37.557954628389226, 126.98315200348596),
            new kakao.maps.LatLng(37.557657545539676, 126.98323472531855),
            new kakao.maps.LatLng(37.557571969588594, 126.98324663837906),
            new kakao.maps.LatLng(37.55754472017957, 126.98325038055626),
            new kakao.maps.LatLng(37.55751229200868, 126.98325482875988),
            new kakao.maps.LatLng(37.55729494431392, 126.98327827179193),
            new kakao.maps.LatLng(37.55605047903621, 126.98337105991433),
            new kakao.maps.LatLng(37.55574737306877, 126.98339155493973),
            new kakao.maps.LatLng(37.555105308487796, 126.98342500487225),
            new kakao.maps.LatLng(37.554700930196944, 126.983448311028),
            new kakao.maps.LatLng(37.554199016031916, 126.98358268660122),
            new kakao.maps.LatLng(37.553960165346915, 126.98384189938538),
            new kakao.maps.LatLng(37.554174341870684, 126.98501388984263),
            new kakao.maps.LatLng(37.5542383883403, 126.98536412773345)
        ];
        var haehyun = new kakao.maps.Polygon({
            path: haehyunPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFDC8A', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFDC8A', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        haehyun.setMap(map);
        ////////////////////////////중림동
        var junglimPath = [
            new kakao.maps.LatLng(37.559602732847, 126.97139923762587),
            new kakao.maps.LatLng(37.559314003890286, 126.97057199866777),
            new kakao.maps.LatLng(37.55802050617245, 126.96930300710652),
            new kakao.maps.LatLng(37.555383763681306, 126.96848897086406),
            new kakao.maps.LatLng(37.55411165026642, 126.96572001807336),
            new kakao.maps.LatLng(37.55374763829929, 126.96520182876334),
            new kakao.maps.LatLng(37.55349478944745, 126.9648491386671),
            new kakao.maps.LatLng(37.551503993982486, 126.96238687439413),
            new kakao.maps.LatLng(37.55192200380381, 126.96213622159183),
            new kakao.maps.LatLng(37.552079431603445, 126.96206857575635),
            new kakao.maps.LatLng(37.55296638811462, 126.961707249935),
            new kakao.maps.LatLng(37.55334171879928, 126.96166184027142),
            new kakao.maps.LatLng(37.55534292838134, 126.96170270446936),
            new kakao.maps.LatLng(37.55540660812221, 126.96183803921899),
            new kakao.maps.LatLng(37.55535206667223, 126.96198419860437),
            new kakao.maps.LatLng(37.55533783023146, 126.96202087010798),
            new kakao.maps.LatLng(37.55532645358582, 126.96205018456746),
            new kakao.maps.LatLng(37.55622661812477, 126.96292711127765),
            new kakao.maps.LatLng(37.55642298000916, 126.96309806743865),
            new kakao.maps.LatLng(37.55715025898734, 126.96321591360271),
            new kakao.maps.LatLng(37.558182581821896, 126.96303662082667),
            new kakao.maps.LatLng(37.55885377187588, 126.96148348639608),
            new kakao.maps.LatLng(37.5592609165609, 126.96206790104068),
            new kakao.maps.LatLng(37.55930961772834, 126.96360950482229),
            new kakao.maps.LatLng(37.559322233592916, 126.96365824755723),
            new kakao.maps.LatLng(37.55933653155207, 126.96371040778432),
            new kakao.maps.LatLng(37.55934972955886, 126.96375853610846),
            new kakao.maps.LatLng(37.55940884226382, 126.96387416639526),
            new kakao.maps.LatLng(37.559567417363624, 126.96418215321245),
            new kakao.maps.LatLng(37.55965012922717, 126.96432828751375),
            new kakao.maps.LatLng(37.5601710326246, 126.96523801390319),
            new kakao.maps.LatLng(37.56038383445967, 126.96553859719009),
            new kakao.maps.LatLng(37.5608457063168, 126.96618746790537),
            new kakao.maps.LatLng(37.56108049991978, 126.96653501986285),
            new kakao.maps.LatLng(37.561132677408, 126.96661249068693),
            new kakao.maps.LatLng(37.56130638041186, 126.96690143193265),
            new kakao.maps.LatLng(37.561495553407404, 126.9673819387459),
            new kakao.maps.LatLng(37.561643341971156, 126.96792228036736),
            new kakao.maps.LatLng(37.561678988700606, 126.96808195972467),
            new kakao.maps.LatLng(37.56186068414217, 126.96889944696413),
            new kakao.maps.LatLng(37.56201362245151, 126.96959246175626),
            new kakao.maps.LatLng(37.559602732847, 126.97139923762587)
        ];
        var junglim = new kakao.maps.Polygon({
            path: junglimPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFB270', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFB270', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        junglim.setMap(map);
        //////////////////////////소공동
        var sogongPath = [
            new kakao.maps.LatLng(37.56180104199569, 126.98108737734889),
            new kakao.maps.LatLng(37.561516839162884, 126.98050124037191),
            new kakao.maps.LatLng(37.561425917917, 126.98030881374004),
            new kakao.maps.LatLng(37.55982652702355, 126.97407477304803),
            new kakao.maps.LatLng(37.55971525405376, 126.9728718496518),
            new kakao.maps.LatLng(37.55963626305379, 126.97200617661218),
            new kakao.maps.LatLng(37.55963220503933, 126.9719362103378),
            new kakao.maps.LatLng(37.559602732847, 126.97139923762587),
            new kakao.maps.LatLng(37.56201362245151, 126.96959246175626),
            new kakao.maps.LatLng(37.56579436403002, 126.96677353826367),
            new kakao.maps.LatLng(37.566255827643815, 126.96718646998274),
            new kakao.maps.LatLng(37.56630119278387, 126.96713423029),
            new kakao.maps.LatLng(37.56636085699477, 126.96719305150863),
            new kakao.maps.LatLng(37.56646554636407, 126.96729746629627),
            new kakao.maps.LatLng(37.56650376640693, 126.96733567672948),
            new kakao.maps.LatLng(37.567096953691, 126.96792521742005),
            new kakao.maps.LatLng(37.5671825142215, 126.96801027119919),
            new kakao.maps.LatLng(37.56819441770833, 126.96904837001854),
            new kakao.maps.LatLng(37.56926180051753, 126.97433193562325),
            new kakao.maps.LatLng(37.56931556702156, 126.97537470991254),
            new kakao.maps.LatLng(37.56873421770358, 126.9752753631349),
            new kakao.maps.LatLng(37.56865839132112, 126.97529367787995),
            new kakao.maps.LatLng(37.56775642220665, 126.97563614739646),
            new kakao.maps.LatLng(37.565439850969575, 126.97835066896093),
            new kakao.maps.LatLng(37.56588370468476, 126.97971711380663),
            new kakao.maps.LatLng(37.56595007074264, 126.98059360360978),
            new kakao.maps.LatLng(37.565949285303894, 126.98264628375576),
            new kakao.maps.LatLng(37.56589959842637, 126.98264461070681),
            new kakao.maps.LatLng(37.56557663390231, 126.98263367648507),
            new kakao.maps.LatLng(37.56406882807667, 126.98240527395096),
            new kakao.maps.LatLng(37.56367472366295, 126.98227510611267),
            new kakao.maps.LatLng(37.56295736377829, 126.98203817295538),
            new kakao.maps.LatLng(37.562163040856774, 126.98140894887835),
            new kakao.maps.LatLng(37.56180104199569, 126.98108737734889)
        ];
        var sogong = new kakao.maps.Polygon({
            path: sogongPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFDC8A', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFDC8A', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        sogong.setMap(map);
        //////////////////////////명동
        var myungdongPath = [
            new kakao.maps.LatLng(37.569194530054546, 126.9770344988775),
            new kakao.maps.LatLng(37.56924090399486, 126.97758408247257),
            new kakao.maps.LatLng(37.56924975808179, 126.97780271779051),
            new kakao.maps.LatLng(37.56889046468609, 126.98269213866654),
            new kakao.maps.LatLng(37.56888500509863, 126.98273180965134),
            new kakao.maps.LatLng(37.56868762394625, 126.98397029538161),
            new kakao.maps.LatLng(37.568615237858786, 126.98442232884796),
            new kakao.maps.LatLng(37.568376393740806, 126.98571700615338),
            new kakao.maps.LatLng(37.56821348455564, 126.98659924319325),
            new kakao.maps.LatLng(37.56820459472246, 126.98678729990505),
            new kakao.maps.LatLng(37.5682011032103, 126.98686118820655),
            new kakao.maps.LatLng(37.5681085386568, 126.9888983161631),
            new kakao.maps.LatLng(37.56814951948801, 126.98951624173209),
            new kakao.maps.LatLng(37.56822401178576, 126.99059203232972),
            new kakao.maps.LatLng(37.568243242488776, 126.99086878245063),
            new kakao.maps.LatLng(37.56682682674005, 126.99082883318091),
            new kakao.maps.LatLng(37.56618248434521, 126.99059547464512),
            new kakao.maps.LatLng(37.56613381211586, 126.98976070787944),
            new kakao.maps.LatLng(37.56524875593656, 126.98859336353007),
            new kakao.maps.LatLng(37.564736934192865, 126.98850770623399),
            new kakao.maps.LatLng(37.56458032970966, 126.9885087769927),
            new kakao.maps.LatLng(37.56358464298665, 126.98857856305997),
            new kakao.maps.LatLng(37.56290728134311, 126.98876050863389),
            new kakao.maps.LatLng(37.56286628177801, 126.98941431771651),
            new kakao.maps.LatLng(37.56288048898898, 126.98988622037419),
            new kakao.maps.LatLng(37.56295551238243, 126.99031773914612),
            new kakao.maps.LatLng(37.562893220928494, 126.99032541582211),
            new kakao.maps.LatLng(37.56278211837493, 126.9903390524704),
            new kakao.maps.LatLng(37.561624547044964, 126.99048001924683),
            new kakao.maps.LatLng(37.56150819211315, 126.99049048120555),
            new kakao.maps.LatLng(37.56119884635328, 126.9905181656508),
            new kakao.maps.LatLng(37.5603892181446, 126.98854450653435),
            new kakao.maps.LatLng(37.558385473782245, 126.9873813993399),
            new kakao.maps.LatLng(37.55745389208485, 126.98691508344605),
            new kakao.maps.LatLng(37.55732490462495, 126.98676888338825),
            new kakao.maps.LatLng(37.556761857724574, 126.98582159983376),
            new kakao.maps.LatLng(37.556641820599516, 126.9854233267172),
            new kakao.maps.LatLng(37.55657726894294, 126.98508907210125),
            new kakao.maps.LatLng(37.556299103227495, 126.98485958967991),
            new kakao.maps.LatLng(37.55616040222243, 126.98476422948958),
            new kakao.maps.LatLng(37.556122811390104, 126.9847383914529),
            new kakao.maps.LatLng(37.55588506294212, 126.98475704516987),
            new kakao.maps.LatLng(37.55579796062881, 126.98478894966813),
            new kakao.maps.LatLng(37.555609564455764, 126.9848579735725),
            new kakao.maps.LatLng(37.5542383883403, 126.98536412773345),
            new kakao.maps.LatLng(37.554174341870684, 126.98501388984263),
            new kakao.maps.LatLng(37.553960165346915, 126.98384189938538),
            new kakao.maps.LatLng(37.554199016031916, 126.98358268660122),
            new kakao.maps.LatLng(37.554700930196944, 126.983448311028),
            new kakao.maps.LatLng(37.555105308487796, 126.98342500487225),
            new kakao.maps.LatLng(37.55574737306877, 126.98339155493973),
            new kakao.maps.LatLng(37.55605047903621, 126.98337105991433),
            new kakao.maps.LatLng(37.55729494431392, 126.98327827179193),
            new kakao.maps.LatLng(37.55751229200868, 126.98325482875988),
            new kakao.maps.LatLng(37.55754472017957, 126.98325038055626),
            new kakao.maps.LatLng(37.557571969588594, 126.98324663837906),
            new kakao.maps.LatLng(37.557657545539676, 126.98323472531855),
            new kakao.maps.LatLng(37.557954628389226, 126.98315200348596),
            new kakao.maps.LatLng(37.55815594358479, 126.98306922929139),
            new kakao.maps.LatLng(37.558668785472044, 126.98285764029531),
            new kakao.maps.LatLng(37.55896119397855, 126.98273673542943),
            new kakao.maps.LatLng(37.55920313059683, 126.98262923210093),
            new kakao.maps.LatLng(37.55944816927764, 126.98251981691409),
            new kakao.maps.LatLng(37.559813551644105, 126.98235578821416),
            new kakao.maps.LatLng(37.559984613479344, 126.98227674037922),
            new kakao.maps.LatLng(37.560092256039724, 126.98222699652324),
            new kakao.maps.LatLng(37.5612630369372, 126.98126138975584),
            new kakao.maps.LatLng(37.56180104199569, 126.98108737734889),
            new kakao.maps.LatLng(37.562163040856774, 126.98140894887835),
            new kakao.maps.LatLng(37.56295736377829, 126.98203817295538),
            new kakao.maps.LatLng(37.56367472366295, 126.98227510611267),
            new kakao.maps.LatLng(37.56406882807667, 126.98240527395096),
            new kakao.maps.LatLng(37.56557663390231, 126.98263367648507),
            new kakao.maps.LatLng(37.56589959842637, 126.98264461070681),
            new kakao.maps.LatLng(37.565949285303894, 126.98264628375576),
            new kakao.maps.LatLng(37.56595007074264, 126.98059360360978),
            new kakao.maps.LatLng(37.56588370468476, 126.97971711380663),
            new kakao.maps.LatLng(37.565439850969575, 126.97835066896093),
            new kakao.maps.LatLng(37.56775642220665, 126.97563614739646),
            new kakao.maps.LatLng(37.56865839132112, 126.97529367787995),
            new kakao.maps.LatLng(37.56873421770358, 126.9752753631349),
            new kakao.maps.LatLng(37.56931556702156, 126.97537470991254),
            new kakao.maps.LatLng(37.569336299425764, 126.97597472821249),
            new kakao.maps.LatLng(37.569194530054546, 126.9770344988775)
        ];
        var myungdong = new kakao.maps.Polygon({
            path: myungdongPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFD384', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFD384', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        myungdong.setMap(map);
        //////////////////////////을지로
        var euljiPath = [
            new kakao.maps.LatLng(37.56300289844828, 126.9934719028237),
            new kakao.maps.LatLng(37.56329950229422, 126.99142895550477),
            new kakao.maps.LatLng(37.56295551238243, 126.99031773914612),
            new kakao.maps.LatLng(37.56288048898898, 126.98988622037419),
            new kakao.maps.LatLng(37.56286628177801, 126.98941431771651),
            new kakao.maps.LatLng(37.56290728134311, 126.98876050863389),
            new kakao.maps.LatLng(37.56358464298665, 126.98857856305997),
            new kakao.maps.LatLng(37.56458032970966, 126.9885087769927),
            new kakao.maps.LatLng(37.564736934192865, 126.98850770623399),
            new kakao.maps.LatLng(37.56524875593656, 126.98859336353007),
            new kakao.maps.LatLng(37.56613381211586, 126.98976070787944),
            new kakao.maps.LatLng(37.56618248434521, 126.99059547464512),
            new kakao.maps.LatLng(37.56682682674005, 126.99082883318091),
            new kakao.maps.LatLng(37.568243242488776, 126.99086878245063),
            new kakao.maps.LatLng(37.56870989125176, 126.99669662654541),
            new kakao.maps.LatLng(37.568723892004755, 126.99679666835213),
            new kakao.maps.LatLng(37.56874939188403, 126.9969766239248),
            new kakao.maps.LatLng(37.568886373781694, 126.99792406974649),
            new kakao.maps.LatLng(37.56894091593279, 126.99829738997224),
            new kakao.maps.LatLng(37.568950882872976, 126.9983491068369),
            new kakao.maps.LatLng(37.56959157448218, 127.00162224915923),
            new kakao.maps.LatLng(37.5696477611322, 127.00668360999161),
            new kakao.maps.LatLng(37.56931479456103, 127.00546429624715),
            new kakao.maps.LatLng(37.5688204361892, 127.00498771966011),
            new kakao.maps.LatLng(37.56676190799077, 127.00416337977543),
            new kakao.maps.LatLng(37.56654617863747, 127.00403744715268),
            new kakao.maps.LatLng(37.56615997655574, 127.00380368434406),
            new kakao.maps.LatLng(37.565815345249824, 127.00359290389557),
            new kakao.maps.LatLng(37.56565282506402, 127.00347995675092),
            new kakao.maps.LatLng(37.565288776839914, 127.00322688446649),
            new kakao.maps.LatLng(37.565487258617985, 127.00274376676911),
            new kakao.maps.LatLng(37.565882435428676, 127.00152798519167),
            new kakao.maps.LatLng(37.56580508171158, 126.99982265825001),
            new kakao.maps.LatLng(37.56566281566984, 126.9967654471395),
            new kakao.maps.LatLng(37.56547059864012, 126.99589032493469),
            new kakao.maps.LatLng(37.56508622215564, 126.9950543794229),
            new kakao.maps.LatLng(37.56300289844828, 126.9934719028237)
        ];
        var eulji = new kakao.maps.Polygon({
            path: euljiPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FF0E09', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FF0E09', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        eulji.setMap(map);
        ///////////////////////////광희동
        var kwangheePath = [
            new kakao.maps.LatLng(37.563025744036686, 127.00956791097168),
            new kakao.maps.LatLng(37.563573028527365, 127.00669918316335),
            new kakao.maps.LatLng(37.56286634360593, 127.00616861043763),
            new kakao.maps.LatLng(37.562499596636776, 127.00522416022022),
            new kakao.maps.LatLng(37.56244273931566, 127.00348931510348),
            new kakao.maps.LatLng(37.56242709644079, 127.00298484051768),
            new kakao.maps.LatLng(37.56242679419468, 127.00264531107821),
            new kakao.maps.LatLng(37.56288031946599, 127.00117312430798),
            new kakao.maps.LatLng(37.56255692535536, 126.99986811657921),
            new kakao.maps.LatLng(37.5615179962955, 126.99531694405356),
            new kakao.maps.LatLng(37.561427445550734, 126.99475438636667),
            new kakao.maps.LatLng(37.56148068747776, 126.99449416943311),
            new kakao.maps.LatLng(37.56152715749887, 126.99429572118171),
            new kakao.maps.LatLng(37.56171594961831, 126.99372141916405),
            new kakao.maps.LatLng(37.56176705699058, 126.99367854976796),
            new kakao.maps.LatLng(37.56185840513056, 126.99363780497889),
            new kakao.maps.LatLng(37.56260925854692, 126.9933635962742),
            new kakao.maps.LatLng(37.562705153711754, 126.99338687771632),
            new kakao.maps.LatLng(37.56300289844828, 126.9934719028237),
            new kakao.maps.LatLng(37.56508622215564, 126.9950543794229),
            new kakao.maps.LatLng(37.56547059864012, 126.99589032493469),
            new kakao.maps.LatLng(37.56566281566984, 126.9967654471395),
            new kakao.maps.LatLng(37.56580508171158, 126.99982265825001),
            new kakao.maps.LatLng(37.565882435428676, 127.00152798519167),
            new kakao.maps.LatLng(37.565487258617985, 127.00274376676911),
            new kakao.maps.LatLng(37.565288776839914, 127.00322688446649),
            new kakao.maps.LatLng(37.56565282506402, 127.00347995675092),
            new kakao.maps.LatLng(37.565815345249824, 127.00359290389557),
            new kakao.maps.LatLng(37.56615997655574, 127.00380368434406),
            new kakao.maps.LatLng(37.56654617863747, 127.00403744715268),
            new kakao.maps.LatLng(37.56676190799077, 127.00416337977543),
            new kakao.maps.LatLng(37.5688204361892, 127.00498771966011),
            new kakao.maps.LatLng(37.56931479456103, 127.00546429624715),
            new kakao.maps.LatLng(37.5696477611322, 127.00668360999161),
            new kakao.maps.LatLng(37.569783784930834, 127.00958523216921),
            new kakao.maps.LatLng(37.5693154104235, 127.0099350962637),
            new kakao.maps.LatLng(37.567889550805724, 127.01169252633863),
            new kakao.maps.LatLng(37.56781435763957, 127.01176378310318),
            new kakao.maps.LatLng(37.56646794444975, 127.01191627446063),
            new kakao.maps.LatLng(37.566237206462205, 127.01190316941147),
            new kakao.maps.LatLng(37.56608894060311, 127.01188628328316),
            new kakao.maps.LatLng(37.56586691109503, 127.01109001671026),
            new kakao.maps.LatLng(37.565765343272865, 127.01050611418508),
            new kakao.maps.LatLng(37.56426467231144, 127.00998092309547),
            new kakao.maps.LatLng(37.563025744036686, 127.00956791097168)
        ];
        var kwanghee = new kakao.maps.Polygon({
            path: kwangheePath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FF0E09', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FF0E09', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        kwanghee.setMap(map);
        ///////////////////////////필동
        var pilldongPath = [
            new kakao.maps.LatLng(37.56300289844828, 126.9934719028237),
            new kakao.maps.LatLng(37.562705153711754, 126.99338687771632),
            new kakao.maps.LatLng(37.56260925854692, 126.9933635962742),
            new kakao.maps.LatLng(37.56185840513056, 126.99363780497889),
            new kakao.maps.LatLng(37.56176705699058, 126.99367854976796),
            new kakao.maps.LatLng(37.56171594961831, 126.99372141916405),
            new kakao.maps.LatLng(37.56152715749887, 126.99429572118171),
            new kakao.maps.LatLng(37.56148068747776, 126.99449416943311),
            new kakao.maps.LatLng(37.561427445550734, 126.99475438636667),
            new kakao.maps.LatLng(37.5615179962955, 126.99531694405356),
            new kakao.maps.LatLng(37.56255692535536, 126.99986811657921),
            new kakao.maps.LatLng(37.56288031946599, 127.00117312430798),
            new kakao.maps.LatLng(37.56216059578659, 127.00110426844469),
            new kakao.maps.LatLng(37.561060787397196, 127.0009954435768),
            new kakao.maps.LatLng(37.55938989570024, 127.00039662958174),
            new kakao.maps.LatLng(37.55847097051198, 127.00263819991783),
            new kakao.maps.LatLng(37.55881781707909, 127.00340014724723),
            new kakao.maps.LatLng(37.55882617098682, 127.00351249925575),
            new kakao.maps.LatLng(37.55814156499214, 127.00387875203081),
            new kakao.maps.LatLng(37.556696597663944, 127.00347861377148),
            new kakao.maps.LatLng(37.55659255851625, 127.00338731343977),
            new kakao.maps.LatLng(37.55647494585358, 127.00328336630908),
            new kakao.maps.LatLng(37.55629726009495, 127.00309420226425),
            new kakao.maps.LatLng(37.556001611363264, 127.00271829911986),
            new kakao.maps.LatLng(37.55584976706966, 127.00251197177242),
            new kakao.maps.LatLng(37.55547208046729, 127.0013851373215),
            new kakao.maps.LatLng(37.555417868402806, 127.00108760068028),
            new kakao.maps.LatLng(37.555243229505045, 127.00028775314159),
            new kakao.maps.LatLng(37.55425575106481, 126.99857487073199),
            new kakao.maps.LatLng(37.55403106653451, 126.9984921620385),
            new kakao.maps.LatLng(37.5532341233711, 126.99837511230506),
            new kakao.maps.LatLng(37.551276393026946, 126.99740399808546),
            new kakao.maps.LatLng(37.55183536255859, 126.99639478561177),
            new kakao.maps.LatLng(37.55226600236355, 126.99513309858212),
            new kakao.maps.LatLng(37.552282202781555, 126.99444310384315),
            new kakao.maps.LatLng(37.55222909020464, 126.99437877291827),
            new kakao.maps.LatLng(37.5520806067647, 126.99419893054183),
            new kakao.maps.LatLng(37.55068560141915, 126.99258450343652),
            new kakao.maps.LatLng(37.550093126422475, 126.99235997402253),
            new kakao.maps.LatLng(37.551491980275394, 126.98781141729891),
            new kakao.maps.LatLng(37.553744426992886, 126.98542709369815),
            new kakao.maps.LatLng(37.5542383883403, 126.98536412773345),
            new kakao.maps.LatLng(37.555609564455764, 126.9848579735725),
            new kakao.maps.LatLng(37.55579796062881, 126.98478894966813),
            new kakao.maps.LatLng(37.55588506294212, 126.98475704516987),
            new kakao.maps.LatLng(37.556122811390104, 126.9847383914529),
            new kakao.maps.LatLng(37.55616040222243, 126.98476422948958),
            new kakao.maps.LatLng(37.556299103227495, 126.98485958967991),
            new kakao.maps.LatLng(37.55657726894294, 126.98508907210125),
            new kakao.maps.LatLng(37.556641820599516, 126.9854233267172),
            new kakao.maps.LatLng(37.556761857724574, 126.98582159983376),
            new kakao.maps.LatLng(37.55732490462495, 126.98676888338825),
            new kakao.maps.LatLng(37.55745389208485, 126.98691508344605),
            new kakao.maps.LatLng(37.558385473782245, 126.9873813993399),
            new kakao.maps.LatLng(37.5603892181446, 126.98854450653435),
            new kakao.maps.LatLng(37.56119884635328, 126.9905181656508),
            new kakao.maps.LatLng(37.56150819211315, 126.99049048120555),
            new kakao.maps.LatLng(37.561624547044964, 126.99048001924683),
            new kakao.maps.LatLng(37.56278211837493, 126.9903390524704),
            new kakao.maps.LatLng(37.562893220928494, 126.99032541582211),
            new kakao.maps.LatLng(37.56295551238243, 126.99031773914612),
            new kakao.maps.LatLng(37.56329950229422, 126.99142895550477),
            new kakao.maps.LatLng(37.56300289844828, 126.9934719028237)
        ];
        var pilldong = new kakao.maps.Polygon({
            path: pilldongPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFB270', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFB270', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        pilldong.setMap(map);
        ///////////////////////////장충동
        var jangchungPath = [
            new kakao.maps.LatLng(37.563025744036686, 127.00956791097168),
            new kakao.maps.LatLng(37.56204704626533, 127.00936420456073),
            new kakao.maps.LatLng(37.5604897693074, 127.00985059656311),
            new kakao.maps.LatLng(37.560429824218815, 127.0098534236055),
            new kakao.maps.LatLng(37.560328649171836, 127.00985809456456),
            new kakao.maps.LatLng(37.556278684936984, 127.0072650223244),
            new kakao.maps.LatLng(37.555611500279724, 127.00645005813372),
            new kakao.maps.LatLng(37.554574492598526, 127.00522561536299),
            new kakao.maps.LatLng(37.554506541586505, 127.005150752117),
            new kakao.maps.LatLng(37.554425080082765, 127.00506102478728),
            new kakao.maps.LatLng(37.554282460788315, 127.0049041678486),
            new kakao.maps.LatLng(37.55393498359103, 127.00452649356842),
            new kakao.maps.LatLng(37.551909426157316, 127.00377572107043),
            new kakao.maps.LatLng(37.55158057411367, 127.00382400007159),
            new kakao.maps.LatLng(37.55135431266967, 127.00385723432821),
            new kakao.maps.LatLng(37.550375639444646, 127.00422527899485),
            new kakao.maps.LatLng(37.55019622503125, 127.0038924990723),
            new kakao.maps.LatLng(37.549600758528975, 127.0026844109379),
            new kakao.maps.LatLng(37.5495082452712, 127.00025315880767),
            new kakao.maps.LatLng(37.54951469894092, 127.0002169569067),
            new kakao.maps.LatLng(37.54956217236035, 126.99995067889738),
            new kakao.maps.LatLng(37.54959449776895, 126.99986838665242),
            new kakao.maps.LatLng(37.5496188183286, 126.99980718201049),
            new kakao.maps.LatLng(37.54979177549393, 126.99936688633525),
            new kakao.maps.LatLng(37.54989093079555, 126.99910431269892),
            new kakao.maps.LatLng(37.54990824810945, 126.99885634010798),
            new kakao.maps.LatLng(37.549931299316114, 126.99852177718344),
            new kakao.maps.LatLng(37.54935788556125, 126.99774306652638),
            new kakao.maps.LatLng(37.547237269992294, 126.99532055586175),
            new kakao.maps.LatLng(37.54905562616137, 126.99319410795592),
            new kakao.maps.LatLng(37.550093126422475, 126.99235997402253),
            new kakao.maps.LatLng(37.55068560141915, 126.99258450343652),
            new kakao.maps.LatLng(37.5520806067647, 126.99419893054183),
            new kakao.maps.LatLng(37.55222909020464, 126.99437877291827),
            new kakao.maps.LatLng(37.552282202781555, 126.99444310384315),
            new kakao.maps.LatLng(37.55226600236355, 126.99513309858212),
            new kakao.maps.LatLng(37.55183536255859, 126.99639478561177),
            new kakao.maps.LatLng(37.551276393026946, 126.99740399808546),
            new kakao.maps.LatLng(37.5532341233711, 126.99837511230506),
            new kakao.maps.LatLng(37.55403106653451, 126.9984921620385),
            new kakao.maps.LatLng(37.55425575106481, 126.99857487073199),
            new kakao.maps.LatLng(37.555243229505045, 127.00028775314159),
            new kakao.maps.LatLng(37.555417868402806, 127.00108760068028),
            new kakao.maps.LatLng(37.55547208046729, 127.0013851373215),
            new kakao.maps.LatLng(37.55584976706966, 127.00251197177242),
            new kakao.maps.LatLng(37.556001611363264, 127.00271829911986),
            new kakao.maps.LatLng(37.55629726009495, 127.00309420226425),
            new kakao.maps.LatLng(37.55647494585358, 127.00328336630908),
            new kakao.maps.LatLng(37.55659255851625, 127.00338731343977),
            new kakao.maps.LatLng(37.556696597663944, 127.00347861377148),
            new kakao.maps.LatLng(37.55814156499214, 127.00387875203081),
            new kakao.maps.LatLng(37.55882617098682, 127.00351249925575),
            new kakao.maps.LatLng(37.55881781707909, 127.00340014724723),
            new kakao.maps.LatLng(37.55847097051198, 127.00263819991783),
            new kakao.maps.LatLng(37.55938989570024, 127.00039662958174),
            new kakao.maps.LatLng(37.561060787397196, 127.0009954435768),
            new kakao.maps.LatLng(37.56216059578659, 127.00110426844469),
            new kakao.maps.LatLng(37.56288031946599, 127.00117312430798),
            new kakao.maps.LatLng(37.56242679419468, 127.00264531107821),
            new kakao.maps.LatLng(37.56242709644079, 127.00298484051768),
            new kakao.maps.LatLng(37.56244273931566, 127.00348931510348),
            new kakao.maps.LatLng(37.562499596636776, 127.00522416022022),
            new kakao.maps.LatLng(37.56286634360593, 127.00616861043763),
            new kakao.maps.LatLng(37.563573028527365, 127.00669918316335),
            new kakao.maps.LatLng(37.563025744036686, 127.00956791097168)
        ];
        var jangchung = new kakao.maps.Polygon({
            path: jangchungPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFD485', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFD485', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        jangchung.setMap(map);
        ///////////////////////////다산동
        var dasanPath = [
            new kakao.maps.LatLng(37.56058193139436, 127.0128463498962),
            new kakao.maps.LatLng(37.56022186375173, 127.01364206053337),
            new kakao.maps.LatLng(37.55845892551616, 127.01271929433719),
            new kakao.maps.LatLng(37.55553052715992, 127.01105565047062),
            new kakao.maps.LatLng(37.553403062628384, 127.00959916684275),
            new kakao.maps.LatLng(37.5490873206518, 127.00742088841015),
            new kakao.maps.LatLng(37.54892536484815, 127.0074011692726),
            new kakao.maps.LatLng(37.54868749848173, 127.00736877246842),
            new kakao.maps.LatLng(37.54829123780617, 127.00717892894652),
            new kakao.maps.LatLng(37.54813292100664, 127.0070398782396),
            new kakao.maps.LatLng(37.548080599920304, 127.0069799856753),
            new kakao.maps.LatLng(37.54804688147449, 127.00694138929813),
            new kakao.maps.LatLng(37.547973292112786, 127.00685625613949),
            new kakao.maps.LatLng(37.54786962448767, 127.00658382940667),
            new kakao.maps.LatLng(37.547711371601146, 127.0059212032467),
            new kakao.maps.LatLng(37.5477025315019, 127.00569343484842),
            new kakao.maps.LatLng(37.547712171130996, 127.00530573624769),
            new kakao.maps.LatLng(37.54773809546151, 127.00530759696628),
            new kakao.maps.LatLng(37.54777022103047, 127.0053100902793),
            new kakao.maps.LatLng(37.54781352249104, 127.00531345500667),
            new kakao.maps.LatLng(37.54820461733567, 127.0058944050891),
            new kakao.maps.LatLng(37.548225664298364, 127.00578358969784),
            new kakao.maps.LatLng(37.5482345082359, 127.00573661847369),
            new kakao.maps.LatLng(37.5482674903744, 127.00554111914713),
            new kakao.maps.LatLng(37.54828528681733, 127.00542150057807),
            new kakao.maps.LatLng(37.54830036548167, 127.00532014884055),
            new kakao.maps.LatLng(37.54834740546745, 127.00471559662431),
            new kakao.maps.LatLng(37.54856352705784, 127.00463078953523),
            new kakao.maps.LatLng(37.548972814410675, 127.00447019000937),
            new kakao.maps.LatLng(37.5491865376636, 127.0043874011466),
            new kakao.maps.LatLng(37.549562814274346, 127.00437854733603),
            new kakao.maps.LatLng(37.5496644238298, 127.00440224837436),
            new kakao.maps.LatLng(37.550375639444646, 127.00422527899485),
            new kakao.maps.LatLng(37.55135431266967, 127.00385723432821),
            new kakao.maps.LatLng(37.55158057411367, 127.00382400007159),
            new kakao.maps.LatLng(37.551909426157316, 127.00377572107043),
            new kakao.maps.LatLng(37.55393498359103, 127.00452649356842),
            new kakao.maps.LatLng(37.554282460788315, 127.0049041678486),
            new kakao.maps.LatLng(37.554425080082765, 127.00506102478728),
            new kakao.maps.LatLng(37.554506541586505, 127.005150752117),
            new kakao.maps.LatLng(37.554574492598526, 127.00522561536299),
            new kakao.maps.LatLng(37.555611500279724, 127.00645005813372),
            new kakao.maps.LatLng(37.556278684936984, 127.0072650223244),
            new kakao.maps.LatLng(37.560328649171836, 127.00985809456456),
            new kakao.maps.LatLng(37.560429824218815, 127.0098534236055),
            new kakao.maps.LatLng(37.5604897693074, 127.00985059656311),
            new kakao.maps.LatLng(37.56204704626533, 127.00936420456073),
            new kakao.maps.LatLng(37.56198606213606, 127.0096986028635),
            new kakao.maps.LatLng(37.56058193139436, 127.0128463498962)
        ];
        var dasan = new kakao.maps.Polygon({
            path: dasanPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FF784B', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FF784B', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        dasan.setMap(map);
        ////////////////////////////신당동
        var sindangPath = [
            new kakao.maps.LatLng(37.56556664980869, 127.0180743572028),
            new kakao.maps.LatLng(37.564122672606004, 127.01599071844261),
            new kakao.maps.LatLng(37.56108043774584, 127.01426196990714),
            new kakao.maps.LatLng(37.56058193139436, 127.0128463498962),
            new kakao.maps.LatLng(37.56198606213606, 127.0096986028635),
            new kakao.maps.LatLng(37.56204704626533, 127.00936420456073),
            new kakao.maps.LatLng(37.563025744036686, 127.00956791097168),
            new kakao.maps.LatLng(37.56426467231144, 127.00998092309547),
            new kakao.maps.LatLng(37.565765343272865, 127.01050611418508),
            new kakao.maps.LatLng(37.56586691109503, 127.01109001671026),
            new kakao.maps.LatLng(37.56608894060311, 127.01188628328316),
            new kakao.maps.LatLng(37.566237206462205, 127.01190316941147),
            new kakao.maps.LatLng(37.56646794444975, 127.01191627446063),
            new kakao.maps.LatLng(37.56781435763957, 127.01176378310318),
            new kakao.maps.LatLng(37.567889550805724, 127.01169252633863),
            new kakao.maps.LatLng(37.5693154104235, 127.0099350962637),
            new kakao.maps.LatLng(37.569783784930834, 127.00958523216921),
            new kakao.maps.LatLng(37.569782558827946, 127.01010401194387),
            new kakao.maps.LatLng(37.56978182425201, 127.01128595164396),
            new kakao.maps.LatLng(37.56978206242719, 127.01161575947448),
            new kakao.maps.LatLng(37.56980657136566, 127.01537585828629),
            new kakao.maps.LatLng(37.56980859794676, 127.01566542077587),
            new kakao.maps.LatLng(37.56980928655595, 127.0157629720032),
            new kakao.maps.LatLng(37.56981531307181, 127.0158654089304),
            new kakao.maps.LatLng(37.56982380100295, 127.01600564056696),
            new kakao.maps.LatLng(37.56986280930545, 127.0161766627633),
            new kakao.maps.LatLng(37.56991209062485, 127.0163801750635),
            new kakao.maps.LatLng(37.56998864893561, 127.01664154663442),
            new kakao.maps.LatLng(37.57001950356381, 127.01674098681009),
            new kakao.maps.LatLng(37.57005943724952, 127.01686968618156),
            new kakao.maps.LatLng(37.5701027859073, 127.01700034533405),
            new kakao.maps.LatLng(37.570149540415414, 127.0171373467301),
            new kakao.maps.LatLng(37.5702024312381, 127.0172783400352),
            new kakao.maps.LatLng(37.57029101296999, 127.0175133756155),
            new kakao.maps.LatLng(37.56998577691102, 127.01769908611097),
            new kakao.maps.LatLng(37.56556664980869, 127.0180743572028)
        ];
        var sindang = new kakao.maps.Polygon({
            path: sindangPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FF0000', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FF0000', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        sindang.setMap(map);
        ////////////////////////////신당5동
        var sindang5Path = [
            new kakao.maps.LatLng(37.56516886904607, 127.02361524786308),
            new kakao.maps.LatLng(37.56498976245136, 127.02670549541054),
            new kakao.maps.LatLng(37.56428904775203, 127.02675680399146),
            new kakao.maps.LatLng(37.563882238318705, 127.02670755412781),
            new kakao.maps.LatLng(37.563584326857736, 127.02659124942552),
            new kakao.maps.LatLng(37.56338741823071, 127.02649911495773),
            new kakao.maps.LatLng(37.56335578267504, 127.02648158342787),
            new kakao.maps.LatLng(37.563207228501604, 127.02639548425658),
            new kakao.maps.LatLng(37.56299376211291, 127.02626520682036),
            new kakao.maps.LatLng(37.56073011014464, 127.0235298861134),
            new kakao.maps.LatLng(37.560717974090274, 127.0234949744223),
            new kakao.maps.LatLng(37.56074436830169, 127.0233348751008),
            new kakao.maps.LatLng(37.560762821652595, 127.02288256251003),
            new kakao.maps.LatLng(37.56083711087956, 127.02230746792854),
            new kakao.maps.LatLng(37.56087994791072, 127.02203475040136),
            new kakao.maps.LatLng(37.56094543779678, 127.02179159825597),
            new kakao.maps.LatLng(37.561120407378006, 127.02131776051307),
            new kakao.maps.LatLng(37.56132059798269, 127.02095132421596),
            new kakao.maps.LatLng(37.561368797592365, 127.02088090230505),
            new kakao.maps.LatLng(37.56151886076881, 127.02066557240893),
            new kakao.maps.LatLng(37.561659008989494, 127.02049624932538),
            new kakao.maps.LatLng(37.56339160479137, 127.01877396172449),
            new kakao.maps.LatLng(37.564122672606004, 127.01599071844261),
            new kakao.maps.LatLng(37.56556664980869, 127.0180743572028),
            new kakao.maps.LatLng(37.565758078970134, 127.02059257547279),
            new kakao.maps.LatLng(37.56516886904607, 127.02361524786308)
        ];
        var sindang5 = new kakao.maps.Polygon({
            path: sindang5Path, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFB270', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFB270', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        sindang5.setMap(map);
        ///////////////////////////황학동
        var hwanghakPath = [
            new kakao.maps.LatLng(37.56516886904607, 127.02361524786308),
            new kakao.maps.LatLng(37.565758078970134, 127.02059257547279),
            new kakao.maps.LatLng(37.56556664980869, 127.0180743572028),
            new kakao.maps.LatLng(37.56998577691102, 127.01769908611097),
            new kakao.maps.LatLng(37.57029101296999, 127.0175133756155),
            new kakao.maps.LatLng(37.570984519777085, 127.01881853651845),
            new kakao.maps.LatLng(37.5717398548992, 127.02336812399952),
            new kakao.maps.LatLng(37.565804250082635, 127.02359774948243),
            new kakao.maps.LatLng(37.56516886904607, 127.02361524786308)
        ];
        var hwanghak = new kakao.maps.Polygon({
            path: hwanghakPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFB270', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFB270', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        hwanghak.setMap(map);
        //////////////////////동화동
        var donghwaPath = [
            new kakao.maps.LatLng(37.56074436830169, 127.0233348751008),
            new kakao.maps.LatLng(37.557868260398386, 127.02285714633344),
            new kakao.maps.LatLng(37.557709410220035, 127.02182429257704),
            new kakao.maps.LatLng(37.557499213548525, 127.01937088600177),
            new kakao.maps.LatLng(37.558425538779794, 127.01886392811282),
            new kakao.maps.LatLng(37.559314106365434, 127.016703243689),
            new kakao.maps.LatLng(37.55930542449374, 127.01664333663366),
            new kakao.maps.LatLng(37.559300596295955, 127.01656482472966),
            new kakao.maps.LatLng(37.559296767142655, 127.01645515861598),
            new kakao.maps.LatLng(37.55932289109422, 127.01633482572794),
            new kakao.maps.LatLng(37.55934984658008, 127.01621068307011),
            new kakao.maps.LatLng(37.55945996526325, 127.01585533188783),
            new kakao.maps.LatLng(37.55948327918231, 127.01578314811344),
            new kakao.maps.LatLng(37.559886479192514, 127.01473715296174),
            new kakao.maps.LatLng(37.560281638133475, 127.01393153226267),
            new kakao.maps.LatLng(37.56104947031874, 127.01434900629027),
            new kakao.maps.LatLng(37.56108043774584, 127.01426196990714),
            new kakao.maps.LatLng(37.564122672606004, 127.01599071844261),
            new kakao.maps.LatLng(37.56339160479137, 127.01877396172449),
            new kakao.maps.LatLng(37.561659008989494, 127.02049624932538),
            new kakao.maps.LatLng(37.56151886076881, 127.02066557240893),
            new kakao.maps.LatLng(37.561368797592365, 127.02088090230505),
            new kakao.maps.LatLng(37.56132059798269, 127.02095132421596),
            new kakao.maps.LatLng(37.561120407378006, 127.02131776051307),
            new kakao.maps.LatLng(37.56094543779678, 127.02179159825597),
            new kakao.maps.LatLng(37.56087994791072, 127.02203475040136),
            new kakao.maps.LatLng(37.56083711087956, 127.02230746792854),
            new kakao.maps.LatLng(37.560762821652595, 127.02288256251003),
            new kakao.maps.LatLng(37.56074436830169, 127.0233348751008)
        ];
        var donghwa = new kakao.maps.Polygon({
            path: donghwaPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFDC8A', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFDC8A', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        donghwa.setMap(map);
        //////////////////////////////////청구동
        var chungguPath = [
            new kakao.maps.LatLng(37.557499213548525, 127.01937088600177),
            new kakao.maps.LatLng(37.5573396016988, 127.01946390283747),
            new kakao.maps.LatLng(37.557134529739834, 127.01890690849194),
            new kakao.maps.LatLng(37.557073125022896, 127.01876860869),
            new kakao.maps.LatLng(37.55699127006635, 127.01858868515346),
            new kakao.maps.LatLng(37.556869805775825, 127.0183658575566),
            new kakao.maps.LatLng(37.556655386184474, 127.01800423348419),
            new kakao.maps.LatLng(37.5566004734223, 127.01792413351535),
            new kakao.maps.LatLng(37.55657037839764, 127.01788023979678),
            new kakao.maps.LatLng(37.555982657918925, 127.01741143566528),
            new kakao.maps.LatLng(37.553011495638145, 127.01630613748895),
            new kakao.maps.LatLng(37.55349815940938, 127.0157404625123),
            new kakao.maps.LatLng(37.554384965451185, 127.01468327029168),
            new kakao.maps.LatLng(37.55443608371393, 127.01449537939992),
            new kakao.maps.LatLng(37.554395835863744, 127.0142975125095),
            new kakao.maps.LatLng(37.55437219348869, 127.0142076932264),
            new kakao.maps.LatLng(37.55434432986901, 127.01410184738945),
            new kakao.maps.LatLng(37.55426451151434, 127.01407025763052),
            new kakao.maps.LatLng(37.55422188806136, 127.01405416905753),
            new kakao.maps.LatLng(37.55402846099434, 127.01400553666362),
            new kakao.maps.LatLng(37.55364806575889, 127.01353750858426),
            new kakao.maps.LatLng(37.55370657717142, 127.01327402802168),
            new kakao.maps.LatLng(37.55378624025451, 127.01291599936245),
            new kakao.maps.LatLng(37.55394579583076, 127.01253781804547),
            new kakao.maps.LatLng(37.55477714915557, 127.01195710983853),
            new kakao.maps.LatLng(37.55479974215443, 127.01197253544065),
            new kakao.maps.LatLng(37.555063025182676, 127.01215762651972),
            new kakao.maps.LatLng(37.55553052715992, 127.01105565047062),
            new kakao.maps.LatLng(37.55845892551616, 127.01271929433719),
            new kakao.maps.LatLng(37.56022186375173, 127.01364206053337),
            new kakao.maps.LatLng(37.56058193139436, 127.0128463498962),
            new kakao.maps.LatLng(37.56108043774584, 127.01426196990714),
            new kakao.maps.LatLng(37.56104947031874, 127.01434900629027),
            new kakao.maps.LatLng(37.560281638133475, 127.01393153226267),
            new kakao.maps.LatLng(37.559886479192514, 127.01473715296174),
            new kakao.maps.LatLng(37.55948327918231, 127.01578314811344),
            new kakao.maps.LatLng(37.55945996526325, 127.01585533188783),
            new kakao.maps.LatLng(37.55934984658008, 127.01621068307011),
            new kakao.maps.LatLng(37.55932289109422, 127.01633482572794),
            new kakao.maps.LatLng(37.559296767142655, 127.01645515861598),
            new kakao.maps.LatLng(37.559300596295955, 127.01656482472966),
            new kakao.maps.LatLng(37.55930542449374, 127.01664333663366),
            new kakao.maps.LatLng(37.559314106365434, 127.016703243689),
            new kakao.maps.LatLng(37.558425538779794, 127.01886392811282),
            new kakao.maps.LatLng(37.557499213548525, 127.01937088600177)
        ];
        var chunggu = new kakao.maps.Polygon({
            path: chungguPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFB270', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFB270', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        chunggu.setMap(map);
        ////////////////////////////////////약수동
        var yaksuPath = [
            new kakao.maps.LatLng(37.553011495638145, 127.01630613748895),
            new kakao.maps.LatLng(37.54994422861261, 127.01320761955266),
            new kakao.maps.LatLng(37.548511522986345, 127.01165764754505),
            new kakao.maps.LatLng(37.548416146182724, 127.01147996885422),
            new kakao.maps.LatLng(37.54811841641107, 127.01086705353879),
            new kakao.maps.LatLng(37.54809814744943, 127.01081324310977),
            new kakao.maps.LatLng(37.548086518251225, 127.01078235714807),
            new kakao.maps.LatLng(37.54807821534514, 127.01068194070888),
            new kakao.maps.LatLng(37.5439797142403, 127.00860603570271),
            new kakao.maps.LatLng(37.54381073731256, 127.00725813748895),
            new kakao.maps.LatLng(37.5461822628338, 127.00484260490366),
            new kakao.maps.LatLng(37.547712171130996, 127.00530573624769),
            new kakao.maps.LatLng(37.5477025315019, 127.00569343484842),
            new kakao.maps.LatLng(37.547711371601146, 127.0059212032467),
            new kakao.maps.LatLng(37.54786962448767, 127.00658382940667),
            new kakao.maps.LatLng(37.547973292112786, 127.00685625613949),
            new kakao.maps.LatLng(37.54804688147449, 127.00694138929813),
            new kakao.maps.LatLng(37.548080599920304, 127.0069799856753),
            new kakao.maps.LatLng(37.54813292100664, 127.0070398782396),
            new kakao.maps.LatLng(37.54829123780617, 127.00717892894652),
            new kakao.maps.LatLng(37.54868749848173, 127.00736877246842),
            new kakao.maps.LatLng(37.54892536484815, 127.0074011692726),
            new kakao.maps.LatLng(37.5490873206518, 127.00742088841015),
            new kakao.maps.LatLng(37.553403062628384, 127.00959916684275),
            new kakao.maps.LatLng(37.55553052715992, 127.01105565047062),
            new kakao.maps.LatLng(37.555063025182676, 127.01215762651972),
            new kakao.maps.LatLng(37.55479974215443, 127.01197253544065),
            new kakao.maps.LatLng(37.55477714915557, 127.01195710983853),
            new kakao.maps.LatLng(37.55394579583076, 127.01253781804547),
            new kakao.maps.LatLng(37.55378624025451, 127.01291599936245),
            new kakao.maps.LatLng(37.55370657717142, 127.01327402802168),
            new kakao.maps.LatLng(37.55364806575889, 127.01353750858426),
            new kakao.maps.LatLng(37.55402846099434, 127.01400553666362),
            new kakao.maps.LatLng(37.55422188806136, 127.01405416905753),
            new kakao.maps.LatLng(37.55426451151434, 127.01407025763052),
            new kakao.maps.LatLng(37.55434432986901, 127.01410184738945),
            new kakao.maps.LatLng(37.55437219348869, 127.0142076932264),
            new kakao.maps.LatLng(37.554395835863744, 127.0142975125095),
            new kakao.maps.LatLng(37.55443608371393, 127.01449537939992),
            new kakao.maps.LatLng(37.554384965451185, 127.01468327029168),
            new kakao.maps.LatLng(37.55349815940938, 127.0157404625123),
            new kakao.maps.LatLng(37.553011495638145, 127.01630613748895)
        ];
        var yaksu = new kakao.maps.Polygon({
            path: yaksuPath, // 그려질 다각형의 좌표 배열입니다
            strokeWeight: 3, // 선의 두께입니다
            strokeColor: '#FFDC8A', // 선의 색깔입니다
            strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
            strokeStyle: 'longdash', // 선의 스타일입니다
            fillColor: '#FFDC8A', // 채우기 색깔입니다
            fillOpacity: 0.5 // 채우기 불투명도 입니다
        });
        yaksu.setMap(map);
    </script>
</body>

</html>